<!DOCTYPE HTML>
<html lang="ru-RU" id="no-js" xmlns='http://www.w3.org/1999/xhtml' xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="<%= image_path('favicon.ico') %>">
  <title><%= meta_tag 'og:title' %></title>
  <%= meta_tags %>

  <script type="text/javascript">
    document.documentElement.id = 'js';
    var url_prefix = '<%= root_path %>';
  </script>

  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if IE]><xml:namespace ns="urn:schemas-microsoft-com:vml" prefix="v" /><![endif]-->

  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= render("_/google_analytics") if Rails.env.production? %>
  <%= render("_/yandex_metrica") if Rails.env.production? %>
</head>
<body>
  <%= yield %>
  <%= render :partial => '_/sharing_includes' %>
</body>
</html>
